USE [master]
GO
/****** Object:  Database [ASPFinal]    Script Date: 30.01.2021 23:21:16 ******/
CREATE DATABASE [ASPFinal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ASPFinal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.ACERSQLSERVER\MSSQL\DATA\ASPFinal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ASPFinal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.ACERSQLSERVER\MSSQL\DATA\ASPFinal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ASPFinal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ASPFinal]
GO
USE [ASPFinal]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 30.01.2021 23:21:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Password] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Advertisments]    Script Date: 30.01.2021 23:21:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Advertisments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [date] NULL,
	[UpdatedAt] [date] NULL,
	[CityID] [int] NULL,
	[IsPremium] [bit] NULL,
	[CapacityID] [int] NULL,
	[ColorID] [int] NULL,
	[FuelTypeID] [int] NULL,
	[SpeedBoxeId] [int] NOT NULL,
	[ProductionYear] [date] NULL,
	[Milage] [decimal](20, 2) NULL,
	[GeneralInfo] [nvarchar](max) NULL,
	[Image] [nvarchar](255) NULL,
	[Price] [decimal](20, 2) NULL,
	[CarModel] [int] NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK__Advertis__3214EC27840D4DC1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 30.01.2021 23:21:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colors]    Script Date: 30.01.2021 23:21:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colors](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Colorname] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EngineCapacities]    Script Date: 30.01.2021 23:21:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EngineCapacities](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Capacity] [decimal](6, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fueltypes]    Script Date: 30.01.2021 23:21:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fueltypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Fueltype] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Markas]    Script Date: 30.01.2021 23:21:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Markas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Markaname] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Models]    Script Date: 30.01.2021 23:21:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Models](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ModelName] [nvarchar](100) NULL,
	[MarkaID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 30.01.2021 23:21:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Title] [nvarchar](250) NULL,
	[Content] [nvarchar](max) NULL,
	[CreatedAt] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpeedBoxes]    Script Date: 30.01.2021 23:21:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpeedBoxes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BoxType] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 30.01.2021 23:21:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Firstname] [nvarchar](50) NULL,
	[Lastname] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[password] [nvarchar](255) NULL,
 CONSTRAINT [PK__Users__3214EC27B2DE068E] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users]    Script Date: 30.01.2021 23:21:20 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Advertisments]  WITH CHECK ADD  CONSTRAINT [FK__Advertism__Capac__4E88ABD4] FOREIGN KEY([CapacityID])
REFERENCES [dbo].[EngineCapacities] ([ID])
GO
ALTER TABLE [dbo].[Advertisments] CHECK CONSTRAINT [FK__Advertism__Capac__4E88ABD4]
GO
ALTER TABLE [dbo].[Advertisments]  WITH CHECK ADD FOREIGN KEY([CarModel])
REFERENCES [dbo].[Models] ([ID])
GO
ALTER TABLE [dbo].[Advertisments]  WITH CHECK ADD  CONSTRAINT [FK__Advertism__CityI__4BAC3F29] FOREIGN KEY([CityID])
REFERENCES [dbo].[Cities] ([ID])
GO
ALTER TABLE [dbo].[Advertisments] CHECK CONSTRAINT [FK__Advertism__CityI__4BAC3F29]
GO
ALTER TABLE [dbo].[Advertisments]  WITH CHECK ADD  CONSTRAINT [FK__Advertism__Color__4F7CD00D] FOREIGN KEY([ColorID])
REFERENCES [dbo].[Colors] ([ID])
GO
ALTER TABLE [dbo].[Advertisments] CHECK CONSTRAINT [FK__Advertism__Color__4F7CD00D]
GO
ALTER TABLE [dbo].[Advertisments]  WITH CHECK ADD  CONSTRAINT [FK__Advertism__FuelT__5070F446] FOREIGN KEY([FuelTypeID])
REFERENCES [dbo].[Fueltypes] ([ID])
GO
ALTER TABLE [dbo].[Advertisments] CHECK CONSTRAINT [FK__Advertism__FuelT__5070F446]
GO
ALTER TABLE [dbo].[Advertisments]  WITH CHECK ADD  CONSTRAINT [FK__Advertism__Speed__5165187F] FOREIGN KEY([SpeedBoxeId])
REFERENCES [dbo].[SpeedBoxes] ([ID])
GO
ALTER TABLE [dbo].[Advertisments] CHECK CONSTRAINT [FK__Advertism__Speed__5165187F]
GO
ALTER TABLE [dbo].[Advertisments]  WITH CHECK ADD  CONSTRAINT [FK__Advertism__UserI__60A75C0F] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Advertisments] CHECK CONSTRAINT [FK__Advertism__UserI__60A75C0F]
GO
ALTER TABLE [dbo].[Advertisments]  WITH CHECK ADD  CONSTRAINT [FK_Advertisments_Advertisments] FOREIGN KEY([ID])
REFERENCES [dbo].[Advertisments] ([ID])
GO
ALTER TABLE [dbo].[Advertisments] CHECK CONSTRAINT [FK_Advertisments_Advertisments]
GO
ALTER TABLE [dbo].[Advertisments]  WITH CHECK ADD  CONSTRAINT [FK_Advertisments_Advertisments1] FOREIGN KEY([ID])
REFERENCES [dbo].[Advertisments] ([ID])
GO
ALTER TABLE [dbo].[Advertisments] CHECK CONSTRAINT [FK_Advertisments_Advertisments1]
GO
ALTER TABLE [dbo].[Advertisments]  WITH CHECK ADD  CONSTRAINT [FK_Advertisments_Advertisments2] FOREIGN KEY([ID])
REFERENCES [dbo].[Advertisments] ([ID])
GO
ALTER TABLE [dbo].[Advertisments] CHECK CONSTRAINT [FK_Advertisments_Advertisments2]
GO
ALTER TABLE [dbo].[Models]  WITH CHECK ADD FOREIGN KEY([MarkaID])
REFERENCES [dbo].[Markas] ([ID])
GO
USE [master]
GO
